[Desktop Entry]
Name=Logisim Evolution - Peler's Edition
GenericName=Logisim Logic Circuit Simulator
Comment=Digital Logic Circuit Simulator
Exec=LogisimEvolutionPeler.sh
Icon=io.github.pelaryuan.LogisimEvolutionPeler
Terminal=false
Type=Application
Categories=Education;Electronics
MimeType=application/x-logisim-peler-circuit;
X-Desktop-File-Install-Version=0.24
